{% extends 'base.html.twig' %}
{% block body %}
    <div class="row row-cols-1 mb-3 px-5 py-3 text-wrapper">
        <h2>Condiciones generales</h2>
        <p>Puede ponerse en contacto con nuestra entidad en el email hello@pulpocon.es</p>

        <p>El servicio ofrecido a través de este portal consiste en gestionar la venta anticipada de entradas online de la conferencia PulpoCon que se celebrará en Vigo el 7, 8 y 9 de septiembre de 2023.</p>


        <p>La aceptación de las presentes Condiciones Generales conlleva que el usuario:</p>

        <ul>
            <ol> Ha leído, entiende y comprende lo aquí expuesto.</ol>
            <ol> Que es una persona con capacidad legal necesaria para contratar. Asimismo, manifiesta que tiene como mínimo 18 años y cuenta con tarjeta de crédito/débito válida y de titularidad de la misma.</ol>
            <ol>Que acepta cumplir el <a href="https://pulpocon.es/codigo-de-conducta" target="_blank">código de conducta</a> del evento</ol>
            <ol>No se admiten devoluciones</ol>
        </ul>

        <p>PulpoCon podrá en todo momento y sin previo aviso, modificar las presentes Condiciones Generales de Uso y Contratación y las Condiciones Particulares, si las hubiere, mediante la publicación de dichas modificaciones en la web para que puedan ser conocidas por los usuarios. Dicha modificación no afectará a los bienes o promociones que fueron adquiridos por el usuario previamente a la modificación.</p>

        <p>El usuario es el responsable de facilitar sus datos correctamente en los procesos de registro y/o compra establecidos en la web, debiendo prestar especial atención a la introducción de los datos de carácter personal y a los datos bancarios.</p>

        <p>A Industriosa, se compromete a respetar el deber de confidencialidad y a utilizar los datos personales de los usuarios de acuerdo con la finalidad, así como a dar cumplimiento a su obligación de guardarlos y adoptar todas las medidas de seguridad necesarias para evitar la alteración, pérdida, tratamiento o acceso no autorizado de acuerdo con lo establecido en el Reglamento (EU) 2016/679 General de Protección de Datos, de acuerdo a lo establecido en nuestra Política de privacidad.</p>

        <h2>Identificación de las partes</h2>

        <p>PulpoCon y A Industriosa son los organizadores del evento y los vendedores de las entradas.</p>

        <p>El usuario que accede a la compra de entradas a través de la web y que será en adelante, el comprador.</p>

        <h2>Ámbito de aplicación</h2>
        <p>La utilización de esta web así como cualquier compra realizada en el mismo se considera efectuada en España, y por tanto sujeta a las leyes y normas españolas vigentes.</p>

        <h2>Formas de pago</h2>
        <p>Los medios de pago ofrecidos durante el pago son:</p>

        <ul>
            <li>Tarjeta bancaria</li>
            <li>Pay Pal</li>
        </ul>


        <p>El usuario confirma que es el titular de la tarjeta bancaria o la cuenta de Paypal o que está autorizado por el mismo al realizar el pago.</p>

        <h2>Impresión de entradas</h2>

        <p>
            Desde el momento en que el usuario curse la orden de compra será denominado comprador. La compra realizada a través de Internet por el comprador y que haya sido recibida por la PulpoCon tiene carácter contractual vinculante.
        </p>

        <p>El comprador debe cumplimentar de forma correcta los datos que se le requieren y se compromete a no introducir datos de terceros. La recepción de la orden de compra será confirmada por correo electrónico o por otros medios sin demora, y desde ese momento quedará perfeccionada la compraventa y obligadas ambas partes al cumplimiento de lo acordado.</p>

        <p>Para realizar la compra no necesita registrarse, pero deberá proporcionar de forma libre y voluntaría los datos requeridos para la tramitación de la compra.</p>
        <p>Además de lo anterior, se informa que de conformidad con lo exigido por el art. 27 de la Ley 34/2002, de 11 de junio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, el procedimiento de contratación seguirá los siguientes pasos:</p>
        <ul>
            <ol>Haga click en el boton comprar de la modalidad de entrada seleccionada</ol>
            <ol>Se mostrará un formulario con los datos de compra desglosados en precio e impuesto. Rellene los datos del titular y comprador de la entrada</ol>
            <ol>Accede a la pasarela de pago de Paypal</ol>
            <ol>Reciba su email con el código QR que da acceso al recinto que podrá imprimir o mostrar en su terminal móvil a su llegada al recinto</ol>
        </ul>

        <h2>Precio</h2>
        <p>Los precios que se indican de cada entrada incluyen el Impuesto sobre el Valor Añadido (IVA) y se expresan en euros (€).</p>
        <p>El precio de la entrada y los impuestos aplicables aparecerán desglosados en el momento de la compra.</p>

        <p>Los precios de venta al público de las entradas serán los publicados en el sitio web, y serán aplicados de forma automática en el proceso de contratación.</p>

        <p>Aunque procuramos asegurar la exactitud de todos los precios pueden producirse errores. Si descubrimos un error en el precio de cualquier entrada que hayas pedido, te lo haremos saber lo antes posible, permitiendo que optes por adaptar tu pedido al precio correcto (realizando un abono o un cargo en tu cuenta, según el caso) o anular tu pedido. Si optas por anular el pedido después de haber abonado el precio incorrecto, recibirás una devolución total del precio por nuestra parte.</p>

        <h2>Devoluciones</h2>

        <h3>Derecho de desestimiento</h3>

        <p>De acuerdo con la normativa vigente en materia de consumo y de ordenación del comercio minorista, el Comprador no podrá ejercitar el derecho de desistimiento ni de resolución ya que el suministro de servicios relacionados con actividades de esparcimiento está exceptuado de tal derecho.<p/>

        <p>La imposibilidad del COMPRADOR de asistir al espectáculo por causas ajenas a la organización y/o el error al realizar la adquisición no serán motivos válidos para solicitar la devolución del importe del precio de las entradas.</p>

        <p>En cualquier caso que proceda la devolución del precio únicamente se reembolsará el importe de la entrada no siendo responsable de otros gastos tales como, a modo de ejemplo y con carácter meramente enunciativo, hoteles, viajes, comidas, dietas, gastos de gestión, etc.</p>

        <p>En caso de cancelación se devolverán los importes pagados por las entradas.</p>


        <h2>Acceso al evento</h2>
        <p>Para acceder al evento se entregará la entrada impresa o en formato electronmico en el lugar establecido para el acceso al recinto. El personal autorizado validará la entrada.</p>

        <p>Solo se considerará válida la primera entrada presentada en el acceso identificada con el código único, y no se permitirá en ningún caso acceder a quienes posteriormente intenten entrar con la misma entrada.</p>

        <p>Cualquier entrada que presente indicios de falsificación autorizará al Organizador a privar a su portador el acceso al Evento.</p>

        <p>El acceso al recinto donde celebre el evento está sujeto a las políticas de acceso y salida establecidas por el Organizador o el propietario del recinto.</p>



        <p>El Organizador se reserva el derecho de admisión al evento. Del mismo modo, el recinto se reserva el derecho a denegar la admisión en caso de incumplimiento por parte de los compradores  de cualquiera de los términos y condiciones del evento. El recinto se puede ver obligado en ocasiones a realizar acciones de registro, no permitiéndose la entrada de objetos que puedan ser considerados peligrosos o que estén prohibidos por la normativa vigente de seguridad en espectáculos públicos. Quedan terminantemente prohibidas, y por tanto, legitimarán la prohibición de acceso:</p>

        <ul>
            <li>La introducción de bebidas alcohólicas, armas, instrumentos susceptibles de ser utilizados como tales, bengalas, fuegos de artificio u objetos análogos.</li>
            <li>La introducción y exhibición de pancartas, símbolos, emblemas o leyendas que impliquen incitación a la violencia.</li>
            <li>Encontrarse bajo los efectos de bebidas alcohólicas, estupefacientes, psicotrópicos o substancias análogas.</li>
        </ul>
    </div>
{% endblock %}
