{% extends 'base.html.twig' %}
{% block body %}
    <div class="row row-cols-1 mb-3 px-5 py-3 text-wrapper">
        <h2>Política de privacidad</h2>


        <p>La presente Política de Privacidad y Protección de Datos Personales es parte integrante de las Condiciones de Uso de la página web ubicada en la URL entradas.pulpocon.es</p>

        <p>En cumplimiento de lo establecido en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y Garantía de los Derechos Digitales (en adelante " LOPDGDD"), en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos, así como a las normas que en el futuro puedan ampliarlos o sustituirlos, informamos de que existe un tratamiento automatizado de actividades de carácter personal, con el único objeto de facilitar la gestión de la actividad de este Sitio Web, la gestión de los servicios que se ofertan a través de la misma y, en su caso, la gestión, desarrollo y cumplimiento de la relación contractual que el Cliente establezca con la Organización de la PulpoCon a través de Asociación Tecnolóxia A Industriosa (G27846609) tratará los datos de los usuarios que realicen compra del Sitio Web.</p>

        <p>La Organización de la PulpoCon a través de Asociación Tecnolóxia A Industriosa (en adelante la organización) es, a efectos de lo dispuesto en la Ley, el Responsable del Tratamiento.</p>

        <p>Las actividades de tratamiento se encuentra registradas en la Politica de Protección de Datos de la Compañía y cuenta con las medidas de seguridad establecidas legalmente (medidas de índole técnica y organizativa que evitan la alteración, pérdida, tratamiento o acceso no autorizado de los datos, según proceda).</p>

        <p>El suministro de los datos de carácter personal que le solicita a la Organización es obligatorio para que se puedan adquirir como Cliente las entradas del evento PulpoCon22 a través del Sitio Web. Si el Cliente no facilita los datos personales solicitados o no acepta la presente Política de Privacidad y Protección de Datos, no podrá adquirir los servicios ofertados.</p>

        <p>Todos los datos personales que nos proporcione serán incorporados a nuestro registro antes mencionado.</p>


        <h2>Finalidad</h2>
        <p>La Política de protección de datos personales establece los principios y pautas comunes de actuación que deben regir en la Organización en materia de protección de datos personales, garantizando, en todo caso, el cumplimiento de la legislación aplicable. En particular, la Política de protección de datos personales tiene la finalidad de garantizar el derecho a la protección de sus datos de todas las personas físicas que se relacionan con la sociedad, asegurando el respeto del derecho al honor y a la intimidad en el tratamiento de las diferentes tipologías de datos personales, procedentes de diferentes fuentes y con fines diversos en función de su actividad empresarial.</p>


        <p>Los principios por los que se rige la Política de protección de datos personales son los siguientes:</p>

        <h3>Principios generales</h3>
        <p>La Organización cumplirá escrupulosamente con la legislación de su jurisdicción en materia de protección de datos, la que resulte aplicable en función del tratamiento de datos personales que se lleve a cabo y la que se determine conforme a normas o acuerdos vinculantes adoptados en el seno de la compañía la Organización promoverá que los principios recogidos en esta Política de protección de datos personales sean tenidos en cuenta:</p>

        <ul>
            <li>en el diseño e implementación de todos los procedimientos que impliquen el tratamiento de datos personales,</li>
            <li>en los productos y servicios ofrecidos por esta,</li>
            <li>en la recogida o tratamiento de dichos datos.</li>
        </ul>

        <p>
        Cualquier Cliente podrá ejercitar los derechos de acceso, rectificación, cancelación, oposición y solicitar la supresión de los datos enviando un correo electrónico a hello@pulpocon.es con la referencia en el asunto: "Protección de Datos", incluyendo junto a la solicitud una copia de su DNI o documento oficial acreditativo de la identidad.
        </p>
    </div>
{% endblock %}
